.player-name,
.turn,
.board,
.restart {
    padding-top: 50px;
}

.player,
.submit {
    padding-top: 10px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 5px;
    align-content: center;
    justify-content: center;
}

.board button {
    aspect-ratio: 1;
}

